{% extends 'base.html' %}

{% block title %}Список адаптеров{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for adapter in adapters %}
    <div class="col">

        <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{ adapter.title }}</div>
            <div class="card-body">
                <h5 class="card-title">Номер в базе: {{ adapter.pk }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-bg-dark">Адрес: {{ adapter.address }}</li>
                    <li class="list-group-item text-bg-dark">Порт: {{ adapter.port }}</li>
                    <li class="list-group-item text-bg-dark">Тип: {{ adapter.type }}</li>
                    <li class="list-group-item text-bg-dark">
                        Статус:
                        {% if adapter.status %}
                        Доступен
                        {% else %}
                        Недоступен
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}