{% extends 'base.html' %}

{% block title %}Параметры {{ object.title }}{% endblock %}

{% block content %}
<div class="card text-bg-dark text-align-center">
    <div class="card-body">
        <h5 class="card-title">Параметры устройства {{ object.title }}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item text-bg-dark">
            <div class="row">
                <div class="col">Название</div>
                <div class="col">Адрес</div>
                <div class="col">Тип</div>
                <div class="col">Формат</div>
            </div>
        </li>

        {% for device_parameter in device_parameters %}
        <li class="list-group-item text-bg-dark">
            <div class="row">
                <div class="col">{{ device_parameter.title }}</div>
                <div class="col">{{ device_parameter.address }}</div>
                <div class="col">{{ device_parameter.parameter_type }}</div>
                <div class="col">{{ device_parameter.format }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>

     <div class="card-body">
        <a href="{% url 'device_detail' object.pk %}" class="btn btn-outline-light">Устройство</a>
        <a href="{% url 'device_parameters_values_list' object.pk %}" class="btn btn-outline-light">Значения параметров</a>
    </div>

</div>
{% endblock %}