{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="card text-bg-dark mb-2">
    <div class="card-body">
        <h5 class="card-title">{{ object.title }}</h5>
        <p class="card-text">Номер в базе: {{ object.pk }}</p>
    </div>
    <div class="row p-3">
        <ul class="col list-group list-group-flush">
            <li class="list-group-item text-bg-dark">Адрес устройства: {{ object.address }}</li>
            <li class="list-group-item text-bg-dark">Тип устройства: {{ object.type_of_device }}</li>
            <li class="list-group-item text-bg-dark">
                <a href="#" class="text-reset">Узел рабочего центра: {{ object.node_of_work_center }}</a>
            </li>
        </ul>
        <ul class="col list-group list-group-flush">
            <li class="list-group-item text-bg-dark"> Адаптер интерфейса:
                <a href="{% url 'adapter_detail' object.interface_adapter.pk %}" class="text-reset">
                    {{ object.interface_adapter }}
                </a>
            </li>
            <li class="list-group-item text-bg-dark">Адрес адаптера: {{ object.interface_adapter.address }}</li>
            <li class="list-group-item text-bg-dark">Порт адаптера: {{ object.interface_adapter.port }}</li>
        </ul>
    </div>

    <div class="card-body">
        <a href="{% url 'device_parameters_list' object.pk %}" class="btn btn-outline-light">Параметры</a>
        <a href="#" class="btn btn-outline-light">Значения параметров</a>
    </div>
</div>
{% endblock %}