<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная страница{% endblock %}</title>
    {% include 'includes.html' %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Главная</a>
                        <a class="nav-link" href="#">Рабочие центры</a>
                        <a class="nav-link" href="#">Устройства</a>
                        <a class="nav-link" href="#">Задания</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>